body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header-container { 
  grid-area: header; 
  padding: 20px;
  text-align: center;
  background-color: aliceblue;
}

.menu-container { 
  grid-area: menu; 
  height: 1000px;
      
  min-width: 120px;
  max-width: 50vw;
  padding: 10px 5px;
  text-align: left;
  color:white;

}
.content-container { 
  grid-area: main; 
  height:1000px;
  width:100%;
  
}


.grid-container {
  display: grid;
  grid-template-areas:
    'header header'
    'menu main';
  /* grid-template-columns: 15% ; 
   */
  grid-template-columns: minmax(150px, 15%) 1fr;
  grid-gap: 10px;
  padding: 10px;
  text-align: left;
  background: rgba(34, 3, 236, 0.5);
  border-color: white;
}


.dossier-iframe {
  width: 100%;
  height:100%;
}

.Page {
  margin: 2px;
  padding: 10px;
}


.ChapterUL {

  padding-left: 5px;
  margin:10px;
}

.Chapter {
  
  margin:10px;
  font-size: 18px;
}

.ChapterArrow {
  float: right;
}


.Current {
  background: rgba(94, 114, 137, 0.5);

}

.Page:hover {
  background: rgba(94, 114, 137, 0.5);
}